<div class="user_selctor">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="input_user_fields">
                    <h1>Mitarbeiter Daten aktualisieren</h1>
                    <form action="/update_mitarbeiter/{{data.0.id}}" method="post">
                        <p>Vorname</p>
                        <input class="form-control" type="text" name="vorname" value="{{data.0.vorname}}" required>
                        <p>Nachname</p>
                        <input class="form-control" type="text"  name="nachname" value="{{data.0.nachname}}" required>
                        <br>
                        <br>
                        <button class="btn button" type="submit">Absenden</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-7"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="">

            </div>
        </div>
    </div>
</div>
